
@font-face {
    font-family: 'Ubuntu';
    src: url('Ubuntu/Ubuntu-Regular.ttf');
}

@font-face {
    font-family: 'TeX';
    src: url('Ubuntu/texgyreadventor-bold.otf');
}

@keyframes moveIn {
    0% {
        transform: scale(0%);
        opacity: 0;
    }
    100% {
        transform: none;
        opacity: 100%;
    }
}

@keyframes moveIn2 {
    0% {
        transform: translateY(-300px);
        opacity: 0;
    }
    100% {
        transform: none;
        opacity: 100%;
    }
}

@keyframes backgroundMove {
    0% {
        background-position-y: 45%;
    }
    50% {
        background-position-y: 55%;
    }
    100% {
        background-position-y: 45%;
    }
}

::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: white;
}

html {
    animation: backgroundMove 25s;
    animation-iteration-count: infinite;
    background-image: url("bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Ubuntu';
}

.container {
    background-color: #000000CC;
    color: aliceblue;
    margin: 8vw;
    padding: 1vw;
    animation: moveIn 2s;
    padding-top: 30px;
}

p {font-size: 1.5vw; margin-top: 0;}
h2 {font-size: 1.75vw;}
.promote > h4 {font-size: 1.6vw; margin: 0;}
.promote > p {font-size: 1.25vw;}

a {
    text-decoration: none; 
    color: #00EEEE;
    background-color: #FFFFFF22;
    width: 25%;
    padding: 5px 0 5px 0;
    text-align: center;
    font-size: 1.25vw;
    border-radius: 10px;
    transition: transform 0.25s, background-color 0.25s, color 0.25s;
    margin-left: 5px;
    margin-right: 5px;
}

a:hover {
    transform: scale(95%);
    background-color: #FFFFFFAA;
    color: #000000;
}

.profile, .social {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

.social {overflow: auto;}

.profileImage {
    animation: moveIn2 2s;
    margin-right: 20px;
    width: 10vw;
    height: 10vw;
    object-fit: cover;
    object-position: top;
    background-color: #050505;
    border: solid 5px #101010;
    position: absolute;
    left: 0;
    right: 0;
    top: 20px;
    margin: 0 auto;
    z-index: 10;
}

.name {
    font-family: 'TeX';
    font-size: 6vw;
    font-style: italic;
    font-weight: bolder;
    margin: 0;
}

.promote {
    color: white;
    width: 100%;
    height: 25vw;
}

.promote > img {
    width: 98%;
    height: 50%;
    border-radius: 5px;
    object-fit: cover;
}

.best {
    background-color: #FFFF0044;
}